<h1>{title}</h1>
<div class="wideleft">
<form action="" method="post">
<select name="cat" class="formfield dropform inline mr5 mw120"  autocorrect="off" autocapitalize="off" autocomplete="off">
<option value="">All Categories</option>
{cats}
</select>
{dropfield}
<input id="button" name="button" type="submit" value=">" class="button">{clear}
</form>
<div class="divline"></div>
{postad}
{personals}
{pagination}
</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>
