<h1>Post an Ad <span class="grey">&middot; Step 1 of 3</span></h1>


<div class="message-y"><span class="black">
<b>IMPORTANT RULES</b>
<div class="space10"></div>
&bull; Promoting escort services is prohibited.
<div class="space5"></div>
&bull; Do not include your phone number or contact details. People are to respond to your ads via private messages within our site.
<div class="space10"></div>
Breaking these rules will result in account termination.
</span></div>

<div class="wideleft">
<h2>Select Country</h2>
Please select your country. Please Note: Personals is currently limited to Australia and USA. More coming soon.
<div class="space20"></div>
<form id="form1" name="form1" method="post" action="">
<span class="formt">Country<span class="labelerror">{c2}</span></span>
<select name="country" class="formfield {c1}">{droplist}</select>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Next Step" />
</form>


</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>
