<h1>Post an Ad <span class="grey">&middot; Step 2 of 3</span></h1>




<div class="wideleft">
<h2>Select State</h2>
Please select your state.
<div class="space20"></div>
<form id="form1" name="form1" method="post" action="">
<span class="formt">State<span class="labelerror">{c2}</span></span>
<select name="state" class="formfield {c1}">{droplist}</select>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Next Step" />
</form>


</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>







