<h1>Post an Ad <span class="grey">&middot; Step 3 of 3</span></h1>




<div class="wideleft">
<h2>Ad Details</h2>
<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
<span class="formt">{statetitle} Area<span class="labelerror">{a2}</span></span>
<select name="area" class="formfield {a1}">{droplist}</select>
<span class="formt">Category<span class="labelerror">{c2}</span></span>
<select name="cat" class="formfield {c1}">{cats}</select>
<div id="classdivh"></div>
<span class="formt">Title<span class="labelerror">{t2}</span></span>
<input name="title" type="text" class="formfield {t1}" id="title" value="{title}" style="width:100%"/>
<span class="formt">Description<span class="labelerror">{d2}</span></span>
<textarea name="description" rows="6" class="formfield {d1}" id="description" style="resize:vertical;width:100%;">{description}</textarea>
<span class="formt">Add an Image <span class="grey">&middot; Not Required</span> <span class="labelerror">{i1}</span></span>
<input type="file" id="file" name="file" size="20" class="formfield {i2}" onchange="toggleRemoveButton()">
  <span id="removeFileButton" style="display: none; margin-left: -20px;color: #ff4a4a;font-weight: bold;padding: 6px;position: absolute;margin-top: -5px;cursor: pointer;
}" onclick="removeFile()">x</span>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Finish & Post" />
</form>


</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>



<script>
  function removeFile() {
    document.getElementById('file').value = '';
    document.getElementById('removeFileButton').style.display = 'none';
  }

  function toggleRemoveButton() {
    const fileInput = document.getElementById('file');
    const removeButton = document.getElementById('removeFileButton');
    if (fileInput.value) {
      removeButton.style.display = 'inline';
    } else {
      removeButton.style.display = 'none';
    }
  }
</script>




