
<h1>{username}{onlinedot}</h1>


<div class="wideleft">
<div class="lh728">
{image}{editimage}
</div>
<div class="rh728">
<h2>Info</h2>
{sex} &middot; {age}<br>
{town}{country}
<div id="{spaceamount}"></div>
{sexstat}
{sexpref}
{sexfreq}
{sexposition}
{editinfo}
{about}
{stuff}
<div class="onlymobile"><div class="space20"></div>{menu}<div class="space-10"></div></div>
</div>
<div class="clear"></div>
{ad1}

<div class="space30"></div>
{feed}
<h2>Comments for {username}</h2>
{comments}
</div>

<div class="narrowright">
<div class="onlyfull">{menu}</div>
{lastrightad}


</div>
<div class="clear"></div>
