<h1>{title}</h1>
<div class="wideleft">
<form action="" method="post">
<select name="sort" class="formfield dropform inline mr5 mw120"  autocorrect="off" autocapitalize="off" autocomplete="off">
<option value="">Added By</option>
<option value="" {anyone}>Anyone</option>
<option value="women" {women}>Women</option>
<option value="men" {men}>Men</option>
</select>
<input name="tags" type="text" class="formfield inline mr5 mw120" id="tags" value="{tags}"  placeholder="tag words" autocorrect="off" autocapitalize="off"  autocomplete="off"   />
<input name="filter" type="submit" class="button" value=">"/>
</form>
<div class="divline"></div>

{newgallery}
{galleries}
{pagination}

</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>
