<h1>Add a Photo Gallery</h1>

<div class="wideleft">
<h2>Step 1 of 2</h2>

<form id="form1" name="form1" method="post" action="">
<span class="formt">Gallery Title<span class="labelerror">{t2}</span></span>
<input name="title" type="text" class="formfield {t1}" id="title" style="width:100%;"  value="{title}" size="55"/>        
<span class="formt">Description<span class="labelerror">{d2}</span></span>
<textarea rows="3" class="formfield {d1}" name="description" id="description"  style="resize:vertical;width:100%">{description}</textarea>

<span class="formt">Tag Words<span class="grey"> &middot; Helps with Search</span><span class="labelerror">{tag2}</span></span>
<input name="tags" type="text" class="formfield {tag1}" id="tags"  value="{tags}" autocomplete="off" style="width:100%;"/>
{groupslist}
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Next Step" />
</form>

 

</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>





