<div class="wideleft">

<div class="blackbg width100 tcentered"><img src="{image}" class="maxwidth100" alt=""/></div>


<div class="space10"></div>
{prevnext}
{ad1}










{infoblockmobile}



<div class="space30"></div>


{interact}
</div>



<div class="narrowright">
{edit}{moderation}
{infoblock}
<div class="space30"></div>
<h2>Gallery Thumbs</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tbody>
      {images}
  </tbody>
</table>
<div class="space30"></div>
{lastrightad}
</div>
<div class="clear"></div>
