<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;padding:0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td bgcolor="#000000" style="padding: 10px 20px 10px 20px;border-radius:3px;">
<a href="http://www.theundergroundsexclub.com" style="border:none;margin:0;"><img src="https://www.theundergroundsexclub.com/logos/email.png" width="147" height="84" alt="The Underground Sex Club Logo"/></a></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" style="padding:20px 20px 20px 20px;color:#000000;">{body}</td>
</tr>
<tr>
<td bgcolor="#EEEEEE" style="padding:8px 20px 8px 20px;color:#666666;border-radius:3px;">Single Notification Message</td>
</tr>
</table>
</body>
</html>
