<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>New Private Message</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin:0;padding:0;font-size:12px;font-family:arial,sans-serif;min-width:550px;text-align: left;">





<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr> <!-- First Row Full Width - Logos -->
		<td bgcolor="#000000" style="padding: 10px 10px 10px 10px;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><a href="http://www.theundergroundsexclub.com" style="border:none;"><img src="http://www.theundergroundsexclub.com/logos/email.png" width="147" height="84" alt="The Underground Sex Club Logo" style="display:block;"/></a></td>
				</tr>
		</table>
		</td>
	</tr>
	<tr> <!-- Second Row Full Width - Red Userline -->
		<td align="center" bgcolor="#FF4D4D" style="padding: 10px 10px 10px 10px;font-family:arial,sans-serif;color:#FFFFFF;font-size:16px;font-weight:bold;">
		Hello {username}, You have a new message!</td>
	</tr>
	<tr> <!-- Third Row Full Width - Content -->
		<td bgcolor="#FFFFFF" style="padding:10px 0px 10px 0px">

			<table width="100%" border="0" cellspacing="0" cellpadding="0"> <!-- Content Table 2 Col -->
				<tr>
					<td bgcolor="#FFFFFF" valign="top" style="padding:10px 20px 10px 10px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td style="font-family:arial,sans-serif;color:#000000;font-size:12px;padding-bottom:20px;border-bottom:2px solid #EAEAEA;">Hello {username},<br />
<br />
You have received a new private message.<br />
<br />
View your message here: <a href="http://www.theundergroundsexclub.com/?mod=myhome&amp;file=mail" style="text-decoration: none;"><span style="color:#006CD8;">Private Messages</span></a><br />
<br />
Thank you.<br />
<br />
The Underground Sex Club</td>
		</tr>
		<tr>
			<td style="font-family:arial,sans-serif;color:#000000;font-size:12px;padding-top:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="4" valign="top">
														<a href="http://www.theundergroundsexclub.com/?mod=login" style="text-decoration: none;"><span style="font-family:arial,sans-serif;color:#006CD8;font-size:12px;">Login to Your Account &nbsp;&rsaquo;</span></a>
								</td>
							</tr>
							<tr>
								<td colspan="4" valign="top" style="padding-top:5px;">
														<a href="http://www.theundergroundsexclub.com/?mod=login&amp;file=forgot" style="text-decoration: none;"><span style="font-family:arial,sans-serif;color:#006CD8;font-size:12px;">Retrieve Login Details &nbsp;&rsaquo;</span></a>
								</td>
							</tr>
						</table>
						</td>
		</tr>
</table></td>
					<td bgcolor="#EEEEEE" width="34%" valign="top" style="padding: 10px">

						<table width="100%" border="0" cellspacing="0" cellpadding="0"> <!-- Right Content Table - Latest Girls -->
							<tr>
								<td style="padding-bottom:5px;font-family:arial,sans-serif;color:#000000;font-size:16px;font-weight:bold;border-bottom:2px solid #FF4D4D;">
								Latest Girls
								</td>
							</tr>
							<tr>
								<td colspan="4" valign="top" style="padding-top:10px;">
									<table width="100%" border="0" cellspacing="0" cellpadding="1">
     	 							<tr>{lwomen}</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="20">&nbsp;</td>
							</tr>
						</table>

						<table width="100%" border="0" cellspacing="0" cellpadding="0"> <!-- Right Content Table - Latest GUYS -->
							<tr>
								<td style="padding-bottom:5px;font-family:arial,sans-serif;color:#000000;font-size:16px;font-weight:bold;border-bottom:2px solid #FF4D4D;">
								Latest Guys
								</td>
							</tr>
							<tr>
								<td colspan="4" valign="top" style="padding-top:10px;">
									<table width="100%" border="0" cellspacing="0" cellpadding="1">
     	 							<tr>{lguys}</tr>
									</table>
								</td>
							</tr>
						</table>


					</td>
				</tr>
			</table> <!-- End Content Table 2 Col -->

		</td>
	</tr>
	<tr>
		<td align="center" bgcolor="#000000" style="padding: 10px 10px 10px 10px;font-family:arial,sans-serif;font-size:12px;color:#999999;">You are receiving this because you are a registered member.<br />
			Don't want to be notified of new message via email? <a href="http://www.theundergroundsexclub.com/?mod=unsubscribe&amp;email={email}&amp;uc={usercode}&amp;type=privatemessage" style="text-decoration: none;"><span style="color:#CCCCCC;">Unsubscribe</span></a></td>
	</tr>
	<tr>
		<td>
			<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
		</td>
	</tr>
</table>








</body>
</html>
