<h1>Email Validation</h1>
<div class="wideleft">
<h2>{subheading}</h2>
{text}
<div class="space30"></div>
<form id="form1" name="form1" method="post" action="">
<span class="formt">Validation Code from Email<span class="labelerror">{c2}</span></span>
<input name="code" type="text" class="formfield {c1}" id="code" value="{code}" size="45" autocorrect="off" autocapitalize="off" autocomplete="off"/>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Validate" /> 
</form>

{moreaccounts}

</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>