<style>
  li{
    margin-bottom: 10px;
  }
  li::before {
    content: none;
  }
  ol >li{
    padding-left:1em;
  }
  ol >li > ol{
    padding-left: 1em;
  }

</style>

<div class="wideleft">

  <h1><strong>Acceptable Use Policy</strong></h1>
  <p><span>Last updated: 05/10/2024</span></p>
  <p><span>This acceptable use policy applies to your use of the Website and forms part of your agreement with us. This policy sets out the standards that apply when you upload User Contributions to the Website, use the Interactive Services, contact other Website users, link to the Website, or interact with the Website in any other way.</span></p>
  <p><span>In this policy, defined terms have the same meanings as in our </span><a href="https://www.theundergroundsexclub.com/?mod=legal&amp;file=terms"><span>Terms of Use</span></a><span>.</span></p>
  <ol>
    <li><span>1. You must not use the Website except for your own personal use and must not sell, rent, transfer, or share your account or any content obtained from your use of the Website to or with anyone else.</span></li>
    <li><span>2. You must only use the Website in a way and for a purpose that is lawful.</span></li>
    <li><span>3. You must not upload, post, display, or publish User Contributions on the Website that are illegal, fraudulent, defamatory, hateful, discriminatory, threatening, or harassing or that encourage or promote violence or any illegal activity.</span></li>
    <li><span>4. You must not use the Website in any way that might exploit, harm, or try to exploit or harm any individual under 18, for example, by exposing them to inappropriate content.</span></li>
    <li><span>5. You must not upload, post, display, or publish User Contributions on the Website that:</span>
      <ol>
        <li><span>5.a. show, include, or refer to:</span>
          <ol>
            <li><span>i. any individual under 18 (or that refer to individuals under 18 generally); or</span></li>
            <li><span>ii. any other individual unless you have written documentation that confirms that all individuals shown or included or referred to in your User Contribution are at least 18, and you have written consent from each individual to use their name, image, and likeness in the User Contribution;</span></li>
          </ol>
        </li>
        <li><span>5.b. show, promote, advertise, or refer to:</span>
          <ol>
            <li><span>i. firearms, weapons, or any goods whose sale, possession, or use is subject to prohibitions or restrictions;</span></li>
            <li><span>ii. drugs or drug paraphernalia (regardless of legal status in your jurisdiction);</span></li>
            <li><span>iii. self-harm or suicide;</span></li>
            <li><span>iv. incest;</span></li>
            <li><span>v. bestiality;</span></li>
            <li><span>vi. violence, rape, lack of consent, hypnosis, intoxication, sexual assault, torture, sadomasochistic abuse or hardcore bondage, extreme fisting, or genital mutilation;</span></li>
            <li><span>vii. necrophilia;</span></li>
            <li><span>viii. urine, scatological, or excrement-related material;</span></li>
            <li><span>ix. “revenge porn” (being any sexually explicit material featuring any individual who has not given prior, express, and informed consent to that material (i) being taken, captured, or otherwise memorialized or (ii) being posted and shared on the Website);</span></li>
            <li><span>x. escort services, sex trafficking, or prostitution;</span></li>
          </ol>
        </li>
        <li><span>5.c. contain unsolicited sexual content or unsolicited language that sexually objectifies another user or anyone else in a nonconsensual way or contains fake or manipulated sexual content regarding another user or anyone else (including “deepfakes”);</span>
          <ol>
            <li><span>i. contain, promote, advertise, or refer to hate speech (being content intended to vilify, humiliate, dehumanize, exclude, attack, threaten, or incite hatred, fear of, or violence against a group or individual based on race, ethnicity, national origin, immigration status, caste, religion, sex, gender identity or expression, sexual orientation, age, disability, disease, veteran status, or any other protected characteristic);</span></li>
            <li><span>ii. contain or refer to anyone else’s personal information or private or confidential information (for example, telephone numbers, location information (including street addresses and GPS coordinates), names, identity documents, email addresses, login credentials for the Website including passwords and security questions, financial information including bank account and credit card details, biometric data, and medical records) without that person’s express written consent;</span></li>
            <li><span>iii. give the impression that it comes from or is approved, licensed, or endorsed by us or any other person or company;</span></li>
            <li><span>iv. cause or is calculated to cause inconvenience or anxiety to anyone else or that is likely to upset, embarrass, or cause serious offense to anyone else;</span></li>
            <li><span>v. is used or is intended to be used to extract money or another benefit from anyone else in exchange for the removal of that content; or</span></li>
            <li><span>vi. involve or promote nonparty commercial activities or sales, including contests, sweepstakes, and other sales promotions, product placements, advertising, or job posting or employment ads.</span></li>
          </ol>
        </li>
      </ol>
    </li>
    <li><span>6. You must not use the Website to stalk, bully, abuse, harass, threaten, or intimidate anyone else. Bullying, harassment, or intimidation in any form is taken very seriously and will result in immediate action, which may include account suspension, reporting to law enforcement, or other appropriate measures.</span></li>
    <li><span>7. You must not use the Website to engage in misleading or deceptive conduct or conduct likely to mislead or deceive any other user. Examples of misleading or deceptive conduct include, but are not limited to, impersonating another individual or entity, providing false information in user profiles, or misrepresenting the nature or characteristics of any content or product.</span></li>
    <li><span>8. You must do nothing that violates our or someone else’s rights, including intellectual property rights (examples of which are copyright, trademarks, confidential information, and goodwill), personality rights, unfair competition, privacy, and data protection rights.</span></li>
    <li><span>9. You must not impersonate us, one of our employees, another user, or any other person or company or falsely state or suggest any affiliation, endorsement, or sponsorship between you and us or any other person or company.</span></li>
    <li><span>10. You must not provide false account registration information or make unauthorized use of anyone else’s information or content.</span></li>
    <li><span>11. You must not post or cause to be posted any content that is spam or is otherwise inauthentic, repetitive, misleading, or low quality.</span></li>
    <li><span>12. You must not use other media or methods (for example, using codewords or signals) to communicate anything that violates this policy. Violations may result in immediate suspension or termination of your account.</span></li>
    <li><span>13. You must not reproduce, print, distribute, try to download, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any content, except as permitted under the </span><a href="https://www.theundergroundsexclub.com/?mod=legal&amp;file=terms"><span>Terms of Use</span></a><span>.</span></li>
    <li><span>14. You must not knowingly introduce any viruses, trojans, worms, logic bombs, or other material into content that is or might be malicious or technologically harmful.</span></li>
    <li><span>15. You must not decompile, disassemble, reverse engineer, or otherwise try to discover or derive the source code of the Website.</span></li>
    <li><span>16. You must not use the Website in a way that could adversely affect our systems or security or interfere with any other user’s use of the Website.</span></li>
    <li><span>17. You must not use any automated program, tool, or process (including web crawlers, robots, bots, spiders, and automated scripts) to access the Website or any server, network, or system associated with the Website, or to extract, scrape, collect, harvest, or gather content or information from the Website.</span></li>
    <li><span>18. You must not use the Website’s name, logo, or any related or similar names, logos, product and service names, designs, or slogans other than in the limited ways expressly permitted in the </span><a href="https://www.theundergroundsexclub.com/?mod=legal&amp;file=terms"><span>Terms of Use</span></a><span> or with our prior written agreement.</span></li>
  </ol>
  <p><span>If you encounter any User Contribution or behavior that violates this policy, please report it by clicking the “Report” button or by emailing [</span><span>EMAIL ADDRESS</span><span>]. We are committed to promptly investigating and addressing all reported concerns.</span></p>
  <p><span>Breaches of this policy may lead to your account being suspended or terminated, your IP address being blocked, and, if appropriate, reporting you to law enforcement.</span></p>
  <p><span>This policy is subject to change and will be updated periodically to reflect new legal or technological realities. Users are encouraged to review the policy regularly to stay informed of their responsibilities.</span></p>
</div>
<div class="narrowright">
  <h2>Policies</h2>
  <a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
  <div class="space5"></div>
  <a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
  <div class="space5"></div>
  <a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
  <div class="space5"></div>
  <a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti-Spam Policy</a>
  <div class="space30"></div>
  <h2>Terms</h2>
  <a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>
</div>
<div class="clear"></div>







