<div class="wideleft">
<h1>Anti-Spam Policy</h1>

<ol>





	<li class="liheading">Introduction
		<ol>
			<li class="linormal">Our system uses two types of electronic communications. Private Messages, and Emails. Private Messages are user to user communication, and Emails are restricted for use by our company. Email addresses of users are NOT available to other members.</li>
			<li class="linormal">We have a zero tolerance Spam policy in regards to Private Messages and Emails.</li>
            <li class="linormal">Spam, in terms of electronic messaging/emailing means Unsolicited Bulk Email. Read more at <a rel="nofollow" target="_blank" href="https://www.spamhaus.org/consumer/definition/">Spamhaus</a>.</li>
		</ol>
	</li>

    <li class="liheading">Private Messages
		<ol>
			<li class="linormal">Any user can send a private message to another user, however, and user can block another user, and once blocked, Private Messages will no longer be delivered.</li>
            <li class="linormal">Private Messages are filtered by our anti-span filter. If your message is flagged as Spam, it will not be delivered.</li>
            <li class="linormal">If your Private Messages is flagged as Spam, we may terminate your account without notice, and you will not receive a refund if your account is a paid account (Premium Account).</li>
            <li class="linormal">If you believe you have received a Spam message, you can <a href="../?mod=contact">contact us</a> to investigate.</li>
		</ol>
	</li>

    <li class="liheading">Emails
		<ol>
			<li class="linormal">Emails are only ever sent directly from us, never from another user.</li>
            <li class="linormal">Users do NOT have access to your email address, and it is never displayed to the screen.</li>
            <li class="linormal">Upon registration, you will be subscribed to receive the following emails: Notifications of New Private Messages, Weekly Roundup Emails, and Periodic Newsletters.</li>
            <li class="linormal">You can unsubscribe or modify any or all of these subscriptions at any time, by either using the link on the bottom of our emails, or by going to your <a href="../?mod=myhome&file=settings">Notifications settings</a> once logged in.</li>
		</ol>
	</li>

    <li class="liheading">Our Email System
		<ol>
			<li class="linormal">Apart from our initial 'Validate Your Account' email, we never send an email to an account where the email address has not be verified.</li>
            <li class="linormal">If you receive an email from us, it is either a single 'Validate your Account' email, or it is because at some point in time, your email address was verified by clicking the link in the initial 'Validate Your Account' email.</li>
            <li class="linormal">Under no circumstance will we ever disclose your email address to any third party person or company, as described in our <a href="../?mod=legal&file=privacy">privacy policy</a>.</li>
            <li class="linormal">If you believe your subscription is in error, we encourage you to do two things. Firstly, secure your email account, as it was most likely compromised, and secondly, <a href="../?mod=contact">contact us</a> to remove your account.</li>
		</ol>
	</li>

    <li class="liheading">Change Notice
		<ol>
			<li class="linormal">The legal pages on this website can and will change over time, and accordingly, this page may read differently the next time you visit our website. If this page is important to you, we suggest you check back frequently as we do not notify users of changes to this document.</li>
		</ol>
	</li>




</ol>




</div>
<div class="narrowright">
<h2>Policies</h2>
<a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti -Spam Policy</a>
<div class="space30"></div>
<h2>Terms</h2>
<a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>
</div>
<div class="clear"></div>





