<div class="wideleft">
<h1>User Content & Conduct Policy</h1>

<ol>

 
 


	<li class="liheading">Introduction
		<ol>
			<li class="linormal">We try to unsure that at all times users have a positive experience with our website.</li>
			<li class="linormal">Whist our system does detect breaches to this policy, we also depend upon users to inform us of misconduct on our website.</li>
            <li class="linormal">Please unsure you follow these policies at all times when using our website.</li>
		</ol>
	</li>
    
    <li class="liheading">Illegal Activities
		<ol>
			<li class="linormal">You can NOT use our service to engage in or to promote any illegal activities.</li>
		</ol>
	</li>
    
    <li class="liheading">Malicious Practices
		<ol>
			<li class="linormal">Do not transmit malicious or destructive code via our system. This includes, but not limited to, viruses , malware or any code that interferes with the operation of our server or network.</li>
			<li class="linormal">Do not use our system for phishing scams.</li>
		</ol>
	</li>
    
    <li class="liheading">Harassment, Threats and Bullying
		<ol>
			<li class="linormal">Do not engage in, or entice others to engage in harassing, bullying or threatening behavior.</li>
			<li class="linormal">In an emergency, if we believe someone might be under imminent threat of serious harm, we may escalate the issue to law enforcement.</li>
			<li class="linormal">Online harassment is illegal in most places and can have serious consequences for the victim and harasses.</li>
		</ol>
	</li>
    
    <li class="liheading">Personal and Confidential Information
		<ol>
			<li class="linormal">Do not distribute an other persons personal and confidential information, such as credit card numbers, confidential ID numbers, or passwords, without their permission.</li>
			<li class="linormal">Do not post photos of people without their permission.</li>
		</ol>
	</li>
    
    <li class="liheading">Content Containing Children
		<ol>
			<li class="linormal">Do not upload or share any content that contains children. This is an adult only environment.</li>
			<li class="linormal">Any content containing children with be deemed as sexually exploiting, and will be referred to law enforcement.</li>
			<li class="linormal">If you notice any content containing children, you must not interact with the material, instead, you must <a href="../?mod=contact">report it</a> to us.</li>
		</ol>
	</li>
    
    <li class="liheading">Copyright
		<ol>
			<li class="linormal">Do NOT upload or create content that is copyright, where you do not have persission to do so.</li>
		</ol>
	</li>
    
    <li class="liheading">Impersonation
		<ol>
			<li class="linormal">Do not use our site to mislead others by pretending to be someone you are not.</li>
		</ol>
	</li>
    
    <li class="liheading">Escorts & Prostitution
		<ol>
			<li class="linormal">We do NOT allow content promoting escort services or prostitution.</li>
			<li class="linormal">If you notice any content promoting escorts or prostitution, you must not interact with the material, instead, you must <a href="../?mod=contact">report it</a> to us.</li>
		</ol>
	</li>
    
    <li class="liheading">Policy Breaches
		<ol>
			<li class="linormal">Breaches to this policy, or any other site policy or terms, may result in your account being terminated without notice, and you will not receive a refund if your account is a paid account (Premium Account).</li>
		</ol>
	</li>
    
    <li class="liheading">Change Notice
		<ol>
			<li class="linormal">The legal pages on this website can and will change over time, and accordingly, this page may read differently the next time you visit our website. If this page is important to you, we suggest you check back frequently as we do not notify users of changes to this document.</li>
		</ol>
	</li>
     
    
    
    
</ol>



</div>
<div class="narrowright">
<h2>Policies</h2>
<a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti -Spam Policy</a>
<div class="space30"></div>
<h2>Terms</h2>
<a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>
</div>
<div class="clear"></div>
