<div class="wideleft">
<h1>Cookie Policy</h1>




<ol>

 
 


	<li class="liheading">Introduction
		<ol>
			<li class="linormal">When you visit, access, or use this website, electronic newsletter, we use cookies and other tracking technologies to deliver and improve our website, and to display relevant content and advertising.</li>
			<li class="linormal">By using our website, you agree that we can use these Cookies as described in this Cookie Policy.</li>
			<li class="linormal">Cookies and other tracking technologies are comprised of small bits of data that often include a de-identified or anonymous unique identifier. Websites, apps and other services send this data to your browser (on your computer or mobile device) when you first request a web page and then store the data on your computer so that such websites, apps and other services can access information when you make subsequent requests for pages from that service. They are widely used in order to make websites work, or work in a better, more efficient way. For example, we use this data to recognize you when you choose to 'Stay Logged In' to make the site easier for you to use.</li>
		</ol>
	</li>

	<li class="liheading">Cookies We Use
		<ol>
			<li class="linormal">Essential Cookie for Remember Me login functionality. This stores information that helps us identify you when you return to our website.</li>
			<li class="linormal">Session Cookie to help us help you navigate around our website, this is essential for some features.</li>
			<li class="linormal">We may use Cookies to receive and record information about your computer, device, and browser, potentially including, but not limited to your IP address and browser browser type.</li>
			<li class="linormal">Our service providers and advertisers may use advertising Cookies to deliver ads that we believe are more relevant to you and your interests. For example, we may measure the effectiveness of our advertising campaigns as well as to customize the advertising and content you receive on our website.</li>
			<li class="linormal">All information derived from these Cookies may be combined with other information acquired from third parties, and we may share this information with other organizations, such as advertisers, provided it is anonymous.</li>
		</ol>
	</li>

	<li class="liheading">Third Party Cookies
		<ol>
			<li class="linormal">Sometimes we work with third parties to provide services on our website. For example, we use analytics services who generate analytics Cookies on our behalf. We may not have access to these Cookies, although we may use information arising from the Cookies provided by these third parties. These companies may also transfer this information to other parties including where they are required to do so by law, or where such other parties process the information on their behalf.</li>
			<li class="linormal">Third-party advertisers and other organizations may also use their own Cookies to collect information about your activities on our Site and/or the advertisements you have clicked on.</li>
			<li class="linormal">Third-party advertisers may also use this information to measure the effectiveness of their advertisements and to track aggregate usage statistics.</li>
			<li class="linormal">We do not control these third-party Cookies and their use may be governed by the privacy policies of the third parties employing these Cookies. For information about these Cookies and to disable or reject third-party Cookies, please refer to the relevant third party’s website.</li>
		</ol>
	</li>
    
    <li class="liheading">Change Notice
		<ol>
			<li class="linormal">The legal pages on this website can and will change over time, and accordingly, this page may read differently the next time you visit our website. If this page is important to you, we suggest you check back frequently as we do not notify users of changes to this document.</li>
		</ol>
	</li>
    
    
     
    
    
</ol>


</div>
<div class="narrowright">
<h2>Policies</h2>
<a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti -Spam Policy</a>
<div class="space30"></div>
<h2>Terms</h2>
<a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>
</div>
<div class="clear"></div>
