<div class="mainleft">
<h1>Policies</h1>
<a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
<div class="divline"></div>
<a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
<div class="divline"></div>
<a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
<div class="divline"></div>
<a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti -Spam Policy</a>
</div>
<div class="mainright">
<h1>Terms</h1>
 <a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>

</div>
<div class="clear"></div>







