<div class="wideleft">
<h1>Privacy Policy</h1>



<ol>

 
 


	<li class="liheading">Introduction
		<ol>
			<li class="linormal">This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it.</li>
		</ol>
	</li>
    
	<li class="liheading">What Information Do We Collect
		<ol>
			<li class="linormal">Registration Information: is the information you provide to us in the course of gaining access to services or features of our website. Including system imformation like your I.P. Address and device type.</li>
			<li class="linormal">Public Information: is in addition to your registration information. For example, 'About Me' information, photo galleries and other profile information.</li>
			<li class="linormal">Public Posts: consists of comments and posts about you which is then published publicly on our website. These include, but are not limited to, forum posts, comments, personal ads and feed posts.</li>
			<li class="linormal">Interactions: are recorded when you interact with content on our website, and is published in our news feed. These include, but are not limited to, votes, comments, following users, joining groups and forum postings.</li>
			<li class="linormal">Cookies: are created when you access and interact with our website and services. Please refer to our <a href="../?mod=legal&file=cookie">Cookie Policy</a> for more information on Cookies.</li>
		</ol>
	</li>
    
	<li class="liheading">How We Use Information We Collect
		<ol>
			<li class="linormal">To Provide Company Services to You. We use supplied information to provide you with user functions including login, and the information allows you to create content on our website. We also use your information to improve services through research and analysis. If your user content is contained in a public post, we will use your information to indicate the author/creator of that content publicly.</li>
			<li class="linormal">Information from Third Party cookies is used to provide us with analytics to help us improve the quality of our website. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website. Please refer to our <a href="../?mod=legal&file=cookie">Cookie Policy</a> for more information on Cookies and Third Party Cookies.</li>
			<li class="linormal">Our automated systems analyze your content (including private messages) to provide you with personally relevant product features, such as tailored advertising, and Spam and malware detection.</li>
			<li class="linormal">We processes personal information on our servers around the world. We may process your personal information on a server located outside the country where you live.</li>
			<li class="linormal">Your email address is used by us to contact you with system emails and subscription emails as per your settings. You may unsubscribe from these at any time. Refer to our <a href="../?mod=legal&file=antispam">Anti-Spam Policy</a> for more information.</li>
		</ol>
	</li>
    
	<li class="liheading">Information You Share
		<ol>
			<li class="linormal">Our website lets you share information with others. Remember that when you share information publicly, it may be indexed by search engines, including Google.</li>
		</ol>
	</li>
    
	<li class="liheading">Information We Share
		<ol>
			<li class="linormal">Your information may be shared to protect the rights of our company or others. There may be instances where your information is disclosed to protect, enforce or defend the legal rights of our company, related companies or employees, or, to protect the safety of our company or users.</li>
			<li class="linormal">We may share non-personally identifiable information publicly. For example, how many times a page has been read.</li>
		</ol>
	</li>
    
	<li class="liheading">Security
		<ol>
			<li class="linormal">We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</li>
			<li class="linormal">Your email address is never displayed on our website.</li>
			<li class="linormal">Passwords are secured using a proprietary encryption system, and are not accessible, not even to our own staff. If you don't know your password, a new password will have to be generated.</li>
		</ol>
	</li>
    
	<li class="liheading">Linking to Other Websites
		<ol>
			<li class="linormal">Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that linked website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy policy. You should exercise caution and look at the privacy statement applicable to the website in question.</li>
		</ol>
	</li>
    
    <li class="liheading">Change Notice
		<ol>
			<li class="linormal">The legal pages on this website can and will change over time, and accordingly, this page may read differently the next time you visit our website. If this page is important to you, we suggest you check back frequently as we do not notify users of changes to this document.</li>
		</ol>
	</li>
    
    
    
     
    
    
    
</ol>



 
</div>
<div class="narrowright">
<h2>Policies</h2>
<a href="../?mod=legal&file=privacy"><span class="is miniinfo"></span> Privacy Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=cookie"><span class="is miniinfo"></span> Cookie Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=content"><span class="is miniinfo"></span> User Content & Conduct Policy</a>
<div class="space5"></div>
<a href="../?mod=legal&file=antispam"><span class="is miniinfo"></span> Anti -Spam Policy</a>
<div class="space30"></div>
<h2>Terms</h2>
<a href="../?mod=legal&file=terms"><span class="is miniinfo"></span> Site Terms & Conditions</a>
</div>
<div class="clear"></div>







