<h1>Login</h1>
<div class="wideleft">
<form id="form1" name="form1" method="post" action="">
<span class="formt">Email Address</span>
<input name="email" type="email" class="formfield" id="email" value="" size="45" autocorrect="off" autocapitalize="off" autocomplete="off"/>
<span class="formt">Password</span>
<input name="logpassword" type="password" class="formfield" id="logpassword" value=""  size="45" />
<div class="space10"></div>
<input name="logbutton" type="submit" class="button" value="Login" />
&nbsp;&nbsp;&nbsp;<a href="../?mod=login&file=forgot">Forgot Username/Password</a> &nbsp;<span class="lightgrey">|</span>&nbsp; <a href="../?mod=register">Register</a>
</form>

<div class="clear"></div>
</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>
