<h1>{title}</h1>
<div class="wideleft">
<h2>Members <span class="lightgrey">&middot;</span> <a href="../?mod=register"><span class="blue">View All</span></a></h2>
{fake}
<table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tbody>
      {members}
  </tbody>
</table>
<div class="space30"></div>
{ad1}
</div>

<div class="narrowright onlyfull">
<h2>Find Other Members</h2>
<form id="form1" name="form1" method="get" action="">
<span class="formt">Gender</span>
<select name="sex" class="formfield" id="sex" style="width:100%">
  <option value="Female">Show All Women</option>
  <option value="Male">Show All Men</option>
</select>
<span class="formt">Sexual Preference</span>
<select name="sex_pref" class="formfield" id="sex_pref"  style="width:100%;">
  <option value="Any">Any</option>
  <option value="Straight">Straight</option>
  <option value="Gay">Gay</option>
  <option value="Bi-Sexual">Bi-Sexual</option>
</select>
<input type="hidden" value="search" name="file" /><input type="hidden" value="members" name="mod" />
<input name="button" type="submit" class="button" id="button" value="Search Members" style="margin-top:10px;"/>
</form>
<div class="space30"></div>
<h2>Popular Searches</h2>
<a href="../?sex=&from=From+Age&to=To+Age&sex_pref=Any&sex_relstatus=Any&photo=1&country=&keywords=&file=search&mod=members&button=Filter">All Members with Photo</a>
<div class="space10"></div>
<a href="../?sex=Female&from=From+Age&to=To+Age&sex_pref=Any&sex_relstatus=Any&photo=1&country=&keywords=&file=search&mod=members&button=Filter">Women with Photo</a>
<div class="space10"></div>
<a href="../?sex=Female&from=From+Age&to=To+Age&sex_pref=Any&sex_relstatus=Any&country=United+States+of+America&keywords=&file=search&mod=members&button=Filter">Women in the US</a>
<div class="space10"></div>
<a href="../?sex=&from=From+Age&to=To+Age&sex_pref=Any&sex_relstatus=Any&country=&keywords=&file=search&mod=members&button=Filter">All Members</a>
<div class="space10"></div>

</div>
<div class="clear"></div>




<div class="wideleft">
<h2>{town} Sex Groups <span class="lightgrey">&middot;</span> <a href="../?mod=groups"><span class="blue">View All</span></a></h2>
<div class="lh728">
{groups1}
</div>
<div class="rh728">
{groups2}
</div>
<div class="clear"></div>

</div>

<div class="narrowright onlyfull">
<h2>Search Sex Groups</h2>
<form id="form1" name="form1" method="post" action="{rooturl}/?mod=groups">
<span class="formt">Category:</span>
<select name="cat" class="formfield width100"  autocorrect="off" autocapitalize="off" autocomplete="off">
    {cats}
</select>
<span class="formt">Tag Word:</span>
<input name="tags" type="text" class="formfield width100" id="tags" value="" autocorrect="off" autocapitalize="off"  autocomplete="off"   />
<input name="filter" type="submit" class="button" id="bfilter" value="Search" />
</form>
</div>
<div class="clear"></div>





<div class="wideleft">
{forums}
{feeds}
{other}

</div>

<div class="narrowright">
<h2>More{town2}</h2>
<div class="space-10"></div>
{moretown}
<div class="space30"></div>
<h2>Other Locations</h2>
<div class="space-10"></div>
{prevt}
<div class="space-5"></div>
{nextt}
<div class="space30"></div>
{lastrightad}
</div>
<div class="clear"></div>
