
<h1>{title}</h1>


<div class="wideleft">
<div class="lh728">
{image}
</div>
<div class="rh728">
<h2>Info</h2>
<span class="grey">Started:</span> {started}
<div id="space10"></div>
<span class="grey">Category:</span> {cat}
<div id="space10"></div>
{website}
{slogan}
{about}
</div>
<div class="clear"></div>
<div class="onlymobile"><div class="space30"></div>{menu}<div class="space-10"></div></div>
{ad1}

{gmembers}

<div class="{galcol}">{galleries}</div>
<div class="{forumcol}">{forums}</div>
<div class="clear"></div>
{galleryad}

<div class="space30"></div>
{comments}
</div>

<div class="narrowright">
<div class="onlyfull">{menu}{moderator}
<div class="space20"></div>
</div>
{similar}
{lastrightad}


</div>
<div class="clear"></div>
