<h1>Sex Groups</h1>











<div class="wideleft">
<form id="form1" name="form1" method="post" action="">
<select name="cat" class="formfield dropform inline mr5 mw120"  autocorrect="off" autocapitalize="off" autocomplete="off">
<option value="">All Categories</option>
{cats}
</select>
<input name="tags" type="text" class="formfield inline mr5 mw120" id="tags" value="{tags}" placeholder="tag words" autocorrect="off" autocapitalize="off"  autocomplete="off"   />
<input name="filter" type="submit" class="button" id="filter" value=">" />
</form>
<div class="divline"></div>

{newgroup}
<div class="lh728">
<h2>Latest Groups</h2>
{latest1}
<div class="onlymobile">
{ad1}
</div>
</div>
<div class="rh728">
<h2>Popular Sex Groups</h2>
{popular1}
</div>
<div class="clear"></div>
{ad1}
<div class="space30"></div>

<div class="onlyfull">
<div class="lh728">
{latest2}
</div>
<div class="rh728">
{popular2}
</div>
<div class="clear"></div>
</div>
</div>

<div class="narrowright">
{lastrightad}
</div>


<div class="clear"></div>
