 {mobimages}
 <h1>Free Registration</h1>

<div class="mainleft">

<table width="100%" border="0" cellspacing="0" cellpadding="3">
	<tbody>
		<tr>
			<td width="35px;"><img src="{rooturl}/images/tick.jpg" width="25px" height="25px"/></td>
			<td><strong>100% Free</strong></td>
		</tr>
		<tr>
			<td><img src="{rooturl}/images/tick.jpg" width="25px" height="25px"/></td>
			<td><strong>Single Click Unsubscribe Anytime</strong></td>
		</tr>

	</tbody>
</table>

<div class="space10"></div>
<div class="divline"></div>
<div class="space10"></div>
<form id="form1" name="form1" method="post" action="">
<span class="formt">I am a:</span>
<select name="sex" class="formfield" id="sex">
{sex}
</select>
<span class="formt">Looking For:</span>
<select name="lookingfor" size="1" class="formfield">
<option value="F" selected="selected">Women</option>
<option value="M">Men</option>
<option value="CP">Couples</option>
</select>
<span class="formt">In:</span>
<select name="country" size="1" class="formfield">
{countries}
</select>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="GO &nbsp; &nbsp; &middot;&middot;&middot;&rsaquo;" />
</form>
</div>

<div class="mainright">

</div>

<div class="clear"></div>
