{mobimages}
<h1>Registration &middot; Last Step</h1>
 
<div class="mainleft">
<form id="form1" name="form1" method="post" action="">

<span class="formt">Username<span class="labelerror">{un2}</span></span>
<input name="username" type="text" class="formfield" id="username" value="{username}"  autocorrect="off" autocapitalize="off" autocomplete="off" size="45"/>

<span class="formt">Email<span class="labelerror">{em2}</span></span>
<input name="email" type="email" class="formfield" id="email"   value="{email}"  size="45"/>

<span class="formt">Password<span class="labelerror">{pa2}</span></span>
<input name="password" type="password" class="formfield"  id="password" value="{password}"   size="45"/>


<span class="formt">Date of Birth<span class="labelerror">{db2}</span></span>
<div class="space1"></div>
<div class="inline">
<select name="day" class="formfield" id="day" >
{day}
</select>
</div>
<div class="inline">
<select name="month" class="formfield" id="month">
{month}
</select>
</div>
<div class="inline">
<select name="year" class="formfield" id="year">
{year}
</select>
</div>
<div class="clear"></div>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="DONE" />
<div class="space30"></div>
{flingsection}{flingsection-mobile}
</form>
</div>

<div class="mainright">

</div>

<div class="clear"></div>