<h1>Contact Us</h1>

<h2>Email Us Directly</h2>
Our preferred method of contact is to use the form below.

<div class="divline"></div>
<h2>Online Contact Form</h2>
<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="" onsubmit="hideit()">
<span class="formt">Name<span class="labelerror">{n2}</span></span>
<input name="name" type="text" class="formfield {n1}" id="name" value="{name}" size="45" autocorrect="off"  autocomplete="off"   />
<span class="formt">Email Address<span class="labelerror">{e2}</span></span>
<input name="email" type="email" class="formfield {e1}" id="email" value="{email}" size="45"  autocomplete="off"   />
<span class="formt">Subject<span class="labelerror">{s2}</span></span>
<input name="subject" type="text" class="formfield {s1}" id="subject" value="{subject}" size="45"  autocomplete="off"   />
<span class="formt">Message<span class="labelerror">{b2}</span></span>
<textarea name="body" cols="" rows="6" class="formfield {b1}" style="resize:vertical;width:100%">{body}</textarea>
<div class="space10"></div>
<span class="formt">Robot Test<span class="labelerror">{rt2}</span></span>
<div class="g-recaptcha" data-sitekey="6LccKQ8UAAAAADyqI0yypsvLMRp2373r8O8GZBJ3"></div>
<div class="space10"></div><div class="space10"></div>
<input name="cbutton" type="submit" class="button" id="cbutton" value="Submit" />
<div class="clear"></div>
</form>
