<h1>Sex Stories</h1>

<div class="wideleft">
{newstory}

<div class="lh728">

<h2>Categories</h2>
{topics1}
</div>
<div class="onlyfull">
<div class="rh728">
<h2>Latest Stories</h2>
{latest1}
</div>
</div>
<div class="clear"></div>

{ad1}
<div class="lh728">
{topics2}
</div>
<div class="onlyfull">
<div class="rh728">
{latest2}
</div>
</div>
<div class="clear"></div>

{ad2}
<div class="lh728">
{topics3}
</div>

<div class="onlyfull">
<div class="rh728">
{latest3}
</div>
</div>
<div class="clear"></div>


</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>
