<h1>Add a New Sex Story</h1>
<div class="wideleft">
<form id="Form" name="Form"  action=""  method="post">

<span class="formt">Title<span class="labelerror">{t2}</span></span>
<input name="title" type="text" class="formfield {t1}" id="title"  value="{title}" size="45"/>        



<span class="formt">Story Category<span class="labelerror">{c2}</span></span>
<select name="cat" size="1" class="formfield {c1}">{cats}</select>


<span class="formt">Body<span class="labelerror">{d2}</span></span>
<textarea name="body" rows="8" class="formfield {d1}" id="body" style="resize: vertical;width:100%;">{textarea1}</textarea>

<div class="space10"></div>
<input type="submit" class="button" name="button" id="button" value="Add Story" />
</form>

 

</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>




