<h1>{title}</h1>

<div class="wideleft">
<h2>Added By</h2>
<div class="lh728">
{user}
</div>
<div class="rh728">
<span class="is minical"></span>{added}
<div class="space5"></div>
<span class="is minieye"></span>{views} Views
<div class="space5"></div>
<span class="is minicat"></span>Category: {cat}
</div>
<div class="clear"></div>


<div class="divline"></div>
{ad1}

<h2>{title}</h2>
<span class="readtext">{copy}</span>
<div class="space20"></div>
{delete}
{comments}
</div>
<div class="narrowright">
{moderator}
{similar}
{newstories}
{lastrightad}
</div>
<div class="clear"></div>


