 
 
{topsection}

<span class="formh">Username<span class="labelerror">{un2}</span></span>
<input name="username" type="text" class="formfieldh" id="username" value="{username}"  autocorrect="off" autocapitalize="off" autocomplete="off"/>

<div class="space10"></div>
<span class="formh">Email<span class="labelerror">{em2}</span></span>
<input name="email" type="email" class="formfieldh" id="email"   value="{email}" />

<div class="space10"></div>
<span class="formh">Password<span class="labelerror">{pa2}</span></span>
<input name="password" type="password" class="formfieldh"  id="password" value="{password}"  />

<div class="space10"></div>

<span class="formh">Date of Birth<span class="labelerror">{db2}</span></span>
<div class="space1"></div>
<div class="inline">
<select name="day" class="formfieldh" id="day" >
{day}
</select>
</div>
<div class="inline">
<select name="month" class="formfieldh" id="month">
{month}
</select>
</div>
<div class="inline">
<select name="year" class="formfieldh" id="year">
{year}
</select>
</div>
<div class="clear"></div>

<input name="button" type="submit" class="buttonh" id="button" value="DONE" />
<div class="space30"></div>
By clicking "Done", you confirm that you accept our <a href="../?mod=legal&file=terms">Terms of Use</a> and <a href="../?mod=legal&file=privacy">Privacy Policy</a>.
<div class="space20"></div>
<h2>Bonus Account</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><input name="fling" type="checkbox" id="fling" value="Y" checked="checked"/></td>
    <td><span class="is snapsext"></span><div class="space10"></div>
Free Membership on SnapSext.com<br>
Over 1 Million Members</td>
  </tr>
</table>
</div>
</form>

<div class="mainright">
{fullimage}
</div>

<div class="clear"></div>