 

{topsection}
<form id="form1" name="form1" method="post" action="">
<span class="formh">I am a:</span>
<select name="sex" class="formfieldh" id="sex">
{sex}
</select>
<div class="space10"></div>
<span class="formh">Looking For:</span>
<select name="lookingfor" size="1" class="formfieldh">
<option value="F" selected="selected">Women</option>
<option value="M">Men</option>
<option value="CP">Couples</option>
</select>
<div class="space10"></div>
<span class="formh">In:</span>
<select name="country" size="1" class="formfieldh">
{countries} 
</select>

<input name="button" type="submit" class="buttonh" id="button" value="GO &nbsp; &nbsp; &middot;&middot;&middot;&rsaquo;" />
</form>
</div>

<div class="mainright">
{fullimage}
</div>

<div class="clear"></div>