<h1>{title}</h1>

<h2>{title2}</h2>


<form method="post" action="">
<select name="period" class="formfield" id="period" style="width:100%;max-width:450px;">
{options}
</select>
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Upgrade" style="margin-right:20px;"/><img src="../../images/payment.png" width="145" height="19" alt=""/>
</form>

<div class="space30"></div>
<div id="lineEA"></div>
<div class="space20"></div>
<h2>Basic <span class="lightgrey">VS</span> Premium</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="{cellpadding}" style="font-weight:bold;">
  <tbody>
    <tr>
      <td width="" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;font-weight:bold;"></td>
      <td width="20%" align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;min-width:50px;">Basic</td>
      <td width="20%" align="center" style="border-bottom:2px solid #EAEAEA;min-width:50px;">Premium</td>
    </tr>
    <tr>
      <td width="" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;font-weight:bold;">Message Limit Per Day</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;" class="red">5</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;" class="green">Unlimited</td>
    </tr>
    <tr>
      <td width="" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;font-weight:bold;">Comment Limit Per Day</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;" class="red">5</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;" class="green">Unlimited</td>
    </tr>
    <tr>
      <td style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;">Top of Search Results <sup>1</sup></td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;" class="red">No</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;" class="green">Yes</td>
    </tr>
    <tr>
      <td style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;">Ad Free</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;" class="red">No</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;" class="green">Yes</td>
    </tr>
    <tr>
      <td style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;">Who Viewed My Profile <sup>2</sup></td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;border-right:2px solid #EAEAEA;" class="red">No</td>
      <td align="center" style="border-bottom:2px solid #EAEAEA;" class="green">Yes</td>
    </tr>
  </tbody>
</table>


<div class="space10"></div>
<div class="space30"></div>

<span class="grey">
<sup>1</sup> &nbsp; Excludes keyword searches, and searches you are not naturally availabe for.  EG. If you are a Male, and the search is for Female, you will not be included.
<div class="space5"></div>
<sup>2</sup> &nbsp; Only includes views by members who are logged in. Does not show visitor views.
</span>