<h1>Add/Edit Profile Image</h1>

<div class="mainleft">
<h2>Add a New Image</h2>
<form id="form1" name="form1" enctype="multipart/form-data" method="post" action="">
<span class="formt">Image<span class="labelerror">{i2}</span></span>
<input name="file" type="file" class="formfield {i1}" id="file"  />
<div class="space20"></div>
<input type="submit" class="button" name="button" id="button" value="Upload">
</form>
</div>
<div class="mainright">
<h2>Current Image</h2>

{image}

</div>
<div class="clear"></div>
