
<h1>{title}</h1>


<div class="wideleft">
<h2>Your Profile &nbsp; <span class="lightgrey">&middot;</span> &nbsp; <a href="../?u={uid}"><span class="blue">View</span></a></h2>
<a href="../?u={uid}">{username}</a>
<div class="space10"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="25%"><a href="../?u={uid}"><img  class="" src="{image}"  width="50" height="50"/></a></td>
			<td width="25%"><span class="">Views</span><div class="space1"></div><span class="bignum">{uviews}</span></td>
			<td width="25%"><span class="">Follows</span><div class="space1"></div><span class="bignum">{ufollows}</span></td>
			<td width="25%"><span class="">Comments</span><div class="space1"></div><span class="bignum">{ucomments}</span></td>
		</tr>
</table>


<div class="space20"></div>
<div class="divline"></div>
{ad1}
<div class="space10"></div>



<h2>Sex Groups{gmore}</h2>
{groups}
<div class="space20"></div>
<div class="divline"></div>
<div class="space10"></div>



<h2>Personal Ads{pmore}</h2>
{personals}
<div class="space20"></div>
<div class="divline"></div>
<div class="space10"></div>



<h2>Photo Galleries{gallmore}</h2>
{galleries}
<div class="space20"></div>
<div class="divline"></div>
<div class="space10"></div>



<h2>Forum Topics{fmore}</h2>
{forums}
<div class="space20"></div>
<div class="divline"></div>
<div class="space10"></div>



<h2>Sex Stories{smore}</h2>
{stories}
<div class="space10"></div>
{ad2}




</div>

<div class="narrowright">
<h2>Report Period</h2>
This report shows stats from the last {days} days only.
<div class="space10"></div>
<a href="{switchlink}"><span class="button width100">{switchbutton}</span></a>
<div class="space30"></div>
<h2>Account Overview</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="30"><img src="{staticurl}/images/layout/email-mail.png" width="20" height="20"/></td>
			<td><a href="../?mod=myhome&file=mail">{mail}</a></td>
		</tr>
</table>
<div class="space5"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="30"><img src="{staticurl}/images/layout/email-notify.png" width="20" height="20"/></td>
			<td><a href="../?mod=myhome&file=notifications">{notify}</a></td>
		</tr>
</table>
{ulock}
<div class="space30"></div>
<h2>Quick Links</h2>
<a href="../?mod=login">Login to Your Account &nbsp; &rsaquo;</a>
<div class="space5"></div>
<a href="../?mod=login&file=forgot">Retrieve Login Details &nbsp; &rsaquo;</a>
<div class="space20"></div>
<a href="../?mod=members">Browse Members &nbsp; &rsaquo;</a>
<div class="space5"></div>
<a href="../?mod=groups">Join Sex Groups &nbsp; &rsaquo;</a>
<div class="space5"></div>
<a href="../?mod=galleries">View Photo Galleries &nbsp; &rsaquo;</a>
<div class="space5"></div>
<a href="../?mod=forum">Check out the Sex Forum &nbsp; &rsaquo;</a>
<div class="space30"></div>
{lastrightad}
</div>
<div class="clear"></div>
