<h1>Edit Forum Post</h1>

<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">
{titlebox}
<span class="formt">Quote ID</span>
<input name="quote" type="text" class="formfield" id="name" value="{quote}" size="10" autocorrect="off"  autocomplete="off"   />
<span class="formt">Post Body</span>
<textarea name="body" cols="" rows="6" class="formfield"  style="resize:vertical;width:100%">{body}</textarea>
<span class="formt">Add/Change Image</span>
<input type="file" id="file" name="file" size="20" class="formfield">
<div class="space10"></div>
<input name="button" type="submit" class="button" id="button" value="Edit Post" />
</form>



<div class="space30"></div>
<h2>Image</h2>
{image}
 

