<h1>Topic Reply</h1>
<h2>Topic: {title}</h2>


<div class="wideleft">
<form id="Form" name="Form" action="" method="post"  enctype="multipart/form-data">
{quotebox}
<span class="formt">Your Reply<span class="labelerror">{r2}</span></span>
<textarea rows="12" class="formfield {r1}" name="body" id="body"  style="resize:vertical;width:100%">{body}</textarea>
<span class="formt">Add an Image <span class="grey">&middot; up to 1Mb</span><span class="labelerror">{i2}</span></span>
<input type="file" id="file" name="file" size="20" class="formfield {i1}" onchange="toggleRemoveButton()">
  <span id="removeFileButton" style="display: none; margin-left: -20px;color: #ff4a4a;font-weight: bold;padding: 6px;position: absolute;margin-top: -5px;cursor: pointer;
}" onclick="removeFile()">x</span>
<div class="space10"></div>

<input type="submit" class="button" name="button" id="button" value="Post Reply"/>
</form>



</div>
<div class="narrowright">
{lastrightad}
</div>
<div class="clear"></div>


<script>
  function removeFile() {
    document.getElementById('file').value = '';
    document.getElementById('removeFileButton').style.display = 'none';
  }

  function toggleRemoveButton() {
    const fileInput = document.getElementById('file');
    const removeButton = document.getElementById('removeFileButton');
    if (fileInput.value) {
      removeButton.style.display = 'inline';
    } else {
      removeButton.style.display = 'none';
    }
  }
</script>
